/* RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common */
/* Layout  */
body {
  background-color: rgb(0, 0, 191);
}

.container {
  width: 1500px;
  max-width: 80%;
  margin: 40px auto;
}

/* Header  */
h1 {
  font-size: 3rem;
  text-align: center;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.box {
  width: 150px;
  aspect-ratio: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 1px solid black;

  /* debug */
  background-color: rgb(70, 100, 254);
}

.num-divisible-3 {
  background-color: green;
}


.num-divisible-5 {
  background-color: yellow;
}


.num-divisible-3-5 {
  background-color: lightcoral;
}

